.study{
  width: 100px;
  height: 100px;
}
.detailButton{
  position: relative;
  display: none;
  left: 80px;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



@media screen and (max-width:480px) {
  .detailButton{
    display: inline-block;
  }
  .icon{
    width: 20px;
    position: relative;
    top: 1px;
    left: 20px;
  }
  .sectionTitle{
    font-size: 18px;
    font-family: "Shippori Mincho B1", serif;
      text-shadow: 1px 2px 3px #808080;
  }

  .sceneBox{
   background-color: #ecece48f;
   border-radius: 20px;
   margin-left: 5px;
   border: 1px solid rgba(140, 138, 138, 0.705);
   box-shadow:2px 1px 4px 0px rgb(46 46 46);
   transition: all 0.2s;
  }
  .clicked{
    background-color: #ecece8;
    border-radius: 20px;
    transition: all 0.2s;
    margin-left: 5px;
     border: 1px solid rgba(140, 138, 138, 0.705);
    box-shadow: -1px -1px 2px 0px rgb(46 46 46);
  }
  .clickedCategory{
    background-color: #ecece8;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    transition: all 0.2s;
    margin-left: 5px;
    border: 1px solid rgba(140, 138, 138, 0.705);
    box-shadow: -1px -1px 2px 0px rgb(46 46 46);
  }
  .sceneAll{
    display: flex;
    list-style: none;
  }
  .sceneExplain{
    font-size: 10px;
    font-weight: 800;
    position: relative;
    top:-20px;
    left: 15px;
  }
  .categoryAll{
    list-style: none;
    display: flex;
  }
  .categoryBox{
    background-color: #ecece48f;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    transition: all 0.2s;
    margin-left: 5px;
    border: 1px solid rgba(140, 138, 138, 0.705);
    box-shadow:2px 1px 4px 0px rgb(46 46 46);
  }
  
  .categoryExplain{
    position: relative;
    top: -10px;
    left: 25px;
    font-size: 12px;
  }
  .categoryIcon{
    position: relative;
    top: 10px;
    left: 15px;
  }
  .searchButton{
    position: relative;
    left: 80px;
    background-color:#871b28 ;
    border: 1px solid black;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    text-decoration: none !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .moneyCategory{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .moneyBox{
    background-color: #ecece48f;
    width: 100px;
    margin-top: 5px;
    transition: all 0.2s;
    margin-left: 5px;
    border: 1px solid rgba(140, 138, 138, 0.705);
    border-radius: 20px;
    box-shadow:2px 1px 4px 0px rgb(46 46 46);
  }
  .moneyIcon{
    position: relative;
    left:25px;
    top:20px;
    width: 50px;
    height: 50px;
    color: rgb(159, 159, 102);
  }
  .moneyExplain{
    font-size: 12px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    top: 10px;
    margin-left: 30px;
  }
  .moneyExplainLong{
    font-size: 12px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    top: 10px;
    margin-left: 15px;
  }
  .moneyBoxClicked{
    background-color: #ecece8;
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
    transition: all 0.2s;
    border: 1px solid rgba(140, 138, 138, 0.705);
    border-radius: 20px;
    box-shadow:-1px -1px 2px 0px rgb(46 46 46);  
  }
}