.balloon1 {
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

.balloon1 .faceicon {
  float: left;
  margin-right: -50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
}

.balloon1 .faceicon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}
.balloon1 .chatting {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  width: 100%;
  text-align: left;
}

.says {
  display: inline-block;
  position: relative;
  margin: 10px 0 0 60px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
  color: #5f111a;
  font-weight: 800;
  font-size: 18px;
}

.shopIcon {
  display: block;
  margin-left: 80%;
}

.logoImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.myCommentBudget {
  margin-top: -30px;
}
.myCommentBudget p {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background-color: rgba(241, 233, 223, 0.884);
}
.myCommentBudget p:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -18px;
  border: 8px solid transparent;
  border-left: 18px solid rgba(241, 233, 223, 0.884);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.longInfo {
  position: relative;
  left: -35% !important;
}
