@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=Shippori+Mincho+B1&display=swap");

.detailTopic {
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 60px;
  background-color: rgb(15, 15, 15, 0.2);
  color: white;
  text-shadow: 1px 3px 6px black;
}
.titleSection {
  display: flex;
}
.restaurantLogo {
  width: 150px;
  height: 150px;
}
.restaurantLogo img {
  width: 100%;
  height: 100%;
}
.mainImg {
  width: 600px;
  height: 500px;
  margin-top: 30px;
}
.shopName {
  margin-left: 20px;
  margin-bottom: -10px;
}
.shopNameLong {
  margin-left: 20px;
  margin-bottom: -10px;
  font-size: 18px;
}
.info {
  margin-left: 20px;
}
.imgBx {
  margin-top: 78px;
  height: 300px;
  width: 100%;
}
.imgBx img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.restaurantTitle {
  display: flex;
  margin-top: 40px;
  margin-left: 150px;
}
.detailSlide {
  top: 20px;
  right: 20px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.detailLi {
  list-style: none;
}
.mainBorder {
  margin-left: 20px;
}
.information {
  position: relative;
  right: 40px;
}
.images {
  margin-left: 50px;
  height: 250px;
}
.images img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.address {
  display: flex;
  margin-left: 20px;
}
.detailMap {
  width: 800px;
  height: 450px;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.description {
  width: 700px;
  margin-left: 100px;
}
.subTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.official {
  text-decoration: underline;
}
.information > li {
  display: flex;
  align-items: center;
}
.iconPosition {
  margin-left: 20px;
  margin-top: 20px;
}
.footer {
  height: 50px;
  background-color: rgb(216, 215, 213);
}
.restaurantMovie {
  width: 530px;
  height: 300px;
  position: relative;
  top: 70px;
  right: 80px;
}
.clicked {
  background-color: #871b28 !important;
  color: #ffffff;
}
.mapButton {
  position: relative;
  top: 50px;
  margin-left: 270px;
}
.mapButton button {
  background-color: white;
  font-family: "Shippori Mincho B1", serif;
}
.priceArea {
  display: flex;
}
.finishIcon {
  display: none;
}
.pushIcon {
  display: none;
}
.balloon6 .faceicon img {
  display: none;
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.shopIcon {
  display: none;
}
.moneyIcon {
  display: none;
}
.balloon1 .faceicon img {
  display: none;
}

.shopName {
  font-family: "Shippori Mincho B1";
  margin-left: 20%;
  margin-top: 50px;
}
.mainBorder {
  width: 700px;
  margin-left: 260px;
}

.address {
  font-size: 15px;
  margin-left: 20%;
}
.catch {
  color: #871b28;
  font-family: "Shippori Mincho B1";
  font-size: 22px;
  margin-left: 78px;
}
.map {
  width: 800px;
  height: 450px;
  margin-left: 200px;
  margin-bottom: 50px;
}
.mapSectionTitle span {
  color: #871b28;
  font-size: 1.2em;
}
.mapSectionTitle {
  text-shadow: 1px 2px 3px #808080;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 25px;
  margin-left: 50px;
  margin-left: 18%;
}
.callIcon {
  display: none;
}
.shopImg {
  width: 400px;
  margin-left: 85px;
  margin-top: 40px;
}
.informationBox {
  margin-left: 5px;
  margin-top: 5px;
  list-style: none;
  width: 150px;
  height: 150px;
  background-color: rgba(168, 147, 123, 0.164);
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.538);
  border-radius: 20px;
}
.informationNoSomething {
  background-color: rgba(174 174 167);
  margin-left: 5px;
  margin-top: 5px;
  list-style: none;
  width: 150px;
  height: 150px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.538);
  border-radius: 20px;
}
.privateRoomText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  font-size: 20px;
  margin-top: -5px;
  margin-left: 28px;
  font-weight: 900;
}
.informationData {
  position: relative;
  top: 10px;
  left: 45px;
  font-family: "Scheherazade New", serif;
  font-weight: 900;
}
.creditCardText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 35px;
  font-weight: 900;
}
.privateRoomIcon {
  width: 90px;
  margin-left: 20px;
  margin-top: 10px;
}
.wifiText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  font-size: 20px;
  margin-left: 45px;
  margin-top: 25px;
  font-weight: 900;
}
.midnightText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 15px;
  font-weight: 900;
}

.informationIcon {
  font-size: 65px;
  position: relative;
  left: 35px;
  top: 20px;
}
.br {
  display: none;
}
.lineBc {
  display: none;
}
.infoTitle {
  display: none;
}

.informationTitle {
  font-weight: 900;
  font-size: 35px;
  text-shadow: 1px 2px 3px #808080;
  font-family: "Times New Roman", Times, serif;
}
.informationSpan {
  color: #871b28;
  font-size: 1.3em;
}
.infoForLaptop {
  position: absolute;
  top: 520px;
  left: 550px;
  list-style: none;
}
.infoBorder {
  width: 600px;
}
.informationListTitle h2 {
  font-size: 15px;
  font-family: "Scheherazade New", serif;
  text-shadow: 2px 1px 4px #00000073;
}
.closeDayText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  width: 600px;
}
.openingHourText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  width: 600px;
}

.chairIcon {
  margin-top: 15px;
}
.chairArea {
  display: flex;
}
.chairText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  margin-top: 6px;
  margin-left: 30px;
  font-size: 1.3rem;
  color: #871b28;
  text-shadow: 1px 1px 2px #00000085;
}
.chairCharacter {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  margin-top: 12px;
  margin-left: 5px;
}
.budgetForLapIcon {
  margin-top: 18px;
  margin-left: 5px;
}
.budgetForLapText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  margin-left: 20px;
  margin-top: 10px;
  color: #871b28;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px #00000085;
  margin-bottom: 0px;
}
.cheerIcon {
  display: none;
}
.infoTitleForLap {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 1px 2px #00000085;
  margin-bottom: 0px;
}
.infoTitleForLap span {
  color: #871b28;
  font-size: 1.3em;
  font-family: "Times New Roman", Times, serif;
}
.otherMemo {
  margin-left: 40px;
}
.addressText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
}
.maxMember {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  margin-left: 40px;
  margin-top: -5px;
  font-weight: 900;
  font-size: 18px;
}
.partyIcon {
  margin-left: 20px;
}
.reservedIcon {
  margin-left: 25px;
  margin-top: 5px;
}
.reservedText {
  font-family: "Scheherazade New", serif;
  font-family: "Shippori Mincho B1", serif;
  margin-top: -10px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.boxList {
  display: flex;
  flex-wrap: wrap;
}

.layoutTitle {
  margin-left: 85px;
}

.bookingButton {
  font-family: "Shippori Mincho B1", "游明朝", serif;
  position: relative;
  background-color: #871b28;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s;
  color: white;
  text-decoration: none !important;
  font-size: 20px;
  margin-left: 22%;
}

@media screen and (max-width: 700px) {
  .layoutTitle {
    margin-left: 0px;
  }
  .restaurant-logo {
    width: 0px;
  }
  .flex {
    display: block;
  }
  .address {
    font-size: 13px;
  }

  .restaurantMovie {
    width: 300px;
    height: 200px;
    position: relative;
    top: -80px;
    left: 40px;
  }
  .imgBx {
    margin-top: 73px;
    height: 150px;
    width: 100%;
  }
  .imgBx img {
    opacity: 0.8;
  }
  .detailTopic {
    position: absolute;
    left: 90px;
    top: 100px;
    font-size: 35px;
  }
  .detailMap {
    margin-left: 10px;
    width: 350px;
    height: 350px;
  }
  .mapButton {
    position: relative;
    top: 50px;
    left: 10px;
    margin-left: 0px;
  }
  .restaurantLogo {
    visibility: hidden;
  }
  .restaurantTitle {
    margin-top: 10px;
    margin-left: 0px;
  }
  .logoImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .shopName {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: -10px;
  }
  .titleContent {
    height: 100px;
  }
  .infoTitle {
    display: flex;
  }
  .description {
    width: 100vw;
    margin-left: 20px;
  }
  .description h2 {
    font-size: 17px;
  }
  .description .explain {
    width: 91%;
    font-size: 13px;
  }
  .informationBorder {
    width: 350px;
  }
  .images img {
    width: 200px;
    height: 150px;
  }
  .mainBorder {
    width: 350px;
    margin-left: 20px;
  }
  .address {
    margin-left: 20px;
  }

  .catch {
    color: #871b28;
    font-size: 18px;
    margin-left: 20px;
    font-family: "Scheherazade New", serif;
  }
  .informationList {
    list-style: none;
  }
  .laptopBorder {
    display: none;
  }
  .informationBox {
    margin-left: 5px;
    margin-top: 5px;
    list-style: none;
    width: 125px;
    height: 125px;
    background-color: rgba(168, 147, 123, 0.164);
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
  }
  .privateRoomText {
    font-size: 15px;
    margin-top: -5px;
    margin-left: 28px;
    font-weight: 900;
  }
  .creditCardText {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 35px;
    font-weight: 900;
  }
  .privateRoomIcon {
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .informationData {
    position: relative;
    top: 10px;
    left: 45px;
    font-family: "Scheherazade New", serif;
    font-weight: 900;
  }
  .informationIcon {
    font-size: 50px;
    position: relative;
    left: 35px;
    top: 20px;
  }
  .informationTitle {
    font-weight: 900;
    font-size: 25px;
    text-shadow: 1px 2px 3px #808080;
    font-family: "Times New Roman", Times, serif;
  }
  .informationSpan {
    color: #871b28;
    font-size: 1.3em;
  }
  .wifiText {
    margin-left: 45px;
    margin-top: 25px;
    font-weight: 900;
    font-size: 15px;
  }
  .midnightText {
    font-size: 13px;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 900;
  }
  .informationNoSomething {
    background-color: rgba(174 174 167);
    margin-left: 5px;
    margin-top: 5px;
    list-style: none;
    width: 125px;
    height: 125px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
  }
  .moneyIcon {
    display: block;
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(159, 159, 102);
  }
  .myCommentBudget .budgetText {
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 20px;
  }
  .mapSectionTitle {
    text-shadow: 1px 2px 3px #808080;
    display: flex;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 50px;
  }
  .mapSpan {
    color: #871b28;
  }
  .homeLink {
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
  }
  .lineBc {
    background: url("/images/waseda.png");
    max-width: 450px;
    height: 780px;
    background-size: cover;
    display: block;
  }

  .boxList {
    justify-content: center;
  }
  
  .informationChatBar {
    display: flex;
    width: 100%;
    max-width: 480px;
    height: 50px;
    background-color: rgba(12, 15, 39, 0.719);
    margin-bottom: -20px;
  }
  .shopBarName {
    color: #ffffff;
    font-weight: 300;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    text-align: justify;
    overflow-wrap: break-word;
    /* position: relative; */
    font-size: 15px;
    margin-top: 18px;
    /* top: 15px; */
  }
  .barArrow {
    color: #ffffff;
    opacity: 0.8;
    margin-top: 10px;
    margin-left: 10px;
  }
  .callIcon {
    color: whitesmoke;
    opacity: 0.8;
    margin-left: 0px;
    margin-top: 10px;
    display: block;
  }
  .open {
    margin-left: 12%;
  }
  .close {
    margin-left: 10%;
  }
  .shopImg {
    margin-left: 0px;
    margin-top: 0px;
    width: 250px;
    height: 250px;
    animation: push ease-in-out 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 5px -4px 5px #00000066;
  }
  .pushIcon {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 170px;
    margin-right: -20px;
    animation: pushHuman ease-in-out 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .shopImgBx {
    display: flex;
    position: relative;
    left: -70px;
  }

  @keyframes push {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(50px);
    }
  }
  @keyframes pushHuman {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(30px);
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(50px);
      opacity: 0;
    }
  }
  @keyframes finish {
    0%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .finishIcon {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70%;
    right: 78%;
    animation: finish ease-in-out 5.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  .shopName {
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-family: "Shippori Mincho B1";
    margin-bottom: 10px;
    width: 350px;
    text-align: justify;
    overflow-wrap: break-word;
  }

  .shortClose {
    margin-left: 44%;
  }
  .informationSectionTitle {
    position: absolute;
    font-weight: 900;
    margin-left: 30px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 2px 3px #808080;
  }
  .informationSectionTitle span {
    color: #871b28;
    font-size: 1.3em;
    text-shadow: 1px 2px 3px #808080;
  }
  .phoneIcon {
    position: relative;
    top: 15px;
    left: -20px;
  }
  .comment {
    width: 220px;
  }
  .map {
    width: 100%;
    height: 400px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .infoForLaptop {
    display: none;
  }
  .otherMemo {
    margin-left: 0px;
    padding-inline-start: 0px;
  }
  .partyIcon {
    width: 75px;
    margin-top: 10px;
  }
  .maxMember {
    font-size: 15px;
    margin-left: 30px;
  }
  .reservedIcon {
    width: 80px;
  }
  .reservedText {
    font-family: "Scheherazade New", serif;
    font-family: "Shippori Mincho B1", serif;
    margin-top: -10px;
    font-size: 15px;
  }
}
