@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.flex {
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.shop {
  list-style: none;
}
.shop-card {
  margin-right: 10px;
  margin-top: 10px;
  /* box-shadow: 5px -3px 10px 0px rgb(0 0 0 / 50%); */
  box-shadow: 0 2px 4px rgba(3, 3, 3, 0.09);
  width: 300px;
  height: 500px;
  background-color: rgb(233, 233, 233);
}
.shop-card:hover {
  margin-top: -5px;
  /* box-shadow: 13px 11px 11px 0px rgb(0 0 0 / 50%); */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}
.img-box {
  box-shadow: 0px 1px 7px rgb(3 3 3 / 70%);
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.shop-img {
  box-shadow: 2px 3px 4px rgba(3, 3, 3, 1);
  width: 300px;
  height: 300px;
  /* border-radius: 15px; */
}
.shop-img:hover {
  filter: brightness(60%);
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
hr {
  position: relative;
}
h4 {
  margin-top: -5px;
  margin-right: 12px;
  display: block;
  font-size: 10px;
}
.price-area {
  display: flex;
}
.price-area > li {
  display: flex;
}

a {
  color: black;
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

.resultReturn{
  color: #871b28;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}

@media screen and (max-width:450px) {
 .shop {
   margin-bottom: 20px;
 }
 .shop-img:active {
  filter: brightness(60%);
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: all 1.5s;
}
.shop-card:active {
  margin-top: -5px;
  /* box-shadow: 13px 11px 11px 0px rgb(0 0 0 / 50%); */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}
}

.title-name .main > span {
  color: #871b28;
}

.title-name .sub {
  margin-top: 35px;
  padding-left: 10px;
  font-family: 'Scheherazade New', serif;
  font-family: 'Shippori Mincho B1', serif;
}

.title-name .sub > span {
  color: #871b28;
  font-weight: 600;
}

p {
  font-family: 'Scheherazade New', serif;
  font-family: 'Shippori Mincho B1', serif;
}

a {
  font-family: 'Scheherazade New', serif;
  font-family: 'Shippori Mincho B1', serif;
  color:black;
  text-decoration: none;
  /* color: #871b28; */
}

.topic {
  margin-left: 80px;
}

.topic > span {
  color: #871b28;
  font-size: 1.3em;
}

.search {
  width: 100%;
  height: 1000px;
  background-color: rgba(212, 217, 223, 0.6);
  position: absolute;
  z-index: -1;
  top: 1360px;
}
.mobile-menu-icon {
  opacity:0;
}
.top-button{
  opacity: 0;
}
.moneyInfo{
  font-size: 15px;
  margin-top: 0px;
  font-family:'Times New Roman', Times, serif;
  color: #871b28;
}
.shop-title{
  font-family: "Shippori Mincho B1";
  text-shadow: 1px 1px 2px #00000085;
}
.chairCharacter{
  margin-top: -3px;
  font-family:'Times New Roman', Times, serif;
  color: #871b28;
  font-weight: 800;
  font-size: 1.3em;
}
.chairCharacter span{
  color: black;
  font-size: 15px;
  margin-left: 3px;
}

.smokingText{
  margin-top: -3px;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 900;
}


@media screen and (max-width:450px){
  .resultShow{
    width: 75px;
    height: 75px;
    margin-left: 20%;
  }
  .resultReturn{
    margin-left: -10px;
    margin-top: 2px;
    font-size: 40px;
    font-family: "fangsong";
    text-shadow: 2px 2px 3px #0e0e0e80;
  }
  .resultReturnText{
    font-family:'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #0e0e0e80;
  }
  .menu-opened{
    position: fixed;
    top: 70px;
    bottom: 0px;
    z-index: 100;
    width: 400px;
    height: 900px;
    background-color:white;
  }
  .menu-border{
    width: 300px;
    opacity: 0.8;
    border-width: 1px 0 0 0;
  }
.global-content{
  width: 100%;
  display: block;
  margin-left: -20%;
  width: 100%;
}
.content{
  width: 80%;
  height: 45%;
  margin-left: 65px;
  margin-top: 83px;
}
.content > img{
  margin-top: 50px;
  right: 234px;
  position: relative;
}
.title-name{
  position: relative;
  top: -35px;
  left: -180px;
}
.title-name #sub {
  width: 320px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;}

.title-name .main {
  width: 310px !important;
  font-size: 45px !important;
}
.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.initialClass {
  opacity: 0;
}
.ad-image{
  width: 360px;
}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .mobile-menu-icon{
    visibility: hidden;
  }
  .header-image{
    margin-left:0px;
  }
  .main-title{
    font-size:45px;
  }
  .elements > li:nth-child(1) {
    padding-left: 0px;
  }
 }
 .fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.initialFadeUp {
  opacity: 0;
  transition: all 0.5s;
}

.showUp{
  opacity: 1;
  transition: all 0.5s;
}

.searchInput {
  font-family: serif;
  width: 80%;
  height: 35px;
  font-size: 18px;
  border-radius: 100px;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.2);
  margin-left: 8%;
}
.searchButton {
  background-color: rgba(135, 27, 40);
  border: 0px solid rgba(135, 27, 40);
  padding-top: 8px;
  padding-bottom: 5px;
  height: 36px;
  border-radius: 100px;
  width: 45px;
  margin-top: 10px;
}
.loadingSpinner{
  margin-left: 45%;
  width: 50px;
}


@media screen and (max-width: 480px) {
  .reset-button {
    position: relative;
    left: 0px;
    top: 0px;
  }
  .loadingSpinner{
    margin-left:42% ;
    width: 25px;
  }
  .moneyInfo{
    margin-top: -10px;
    font-size: 15px;
  }
  .moneyMiniIcon{
    margin-top: -10px;
  }
  .price-area{
    margin-top: 10px;
  }
  /* .readMoreBtn{
    position: relative;
    left: 80px;
    background-color:#871b28 ;
    border: 1px solid black;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    text-decoration: none !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  } */
}
