.newsList {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 25px;
    border-bottom: 1px solid gray;
    margin: auto;
}

.newsList:hover {
    opacity: 0.7;
}

.notifyWrapper{
    margin-top:5%;
    margin-bottom: 5%;
}

.informationSectionTitle {
    font-weight: 900;
    margin-left: 5%;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 2px 3px #808080;
  }
  .informationSectionTitle span {
    color: #871b28;
    font-size: 1.3em;
    text-shadow: 1px 2px 3px #808080;
  }